mixin createPostForm(userLoggedIn)
  .postFormContainer 
    .userImageContainer 
      img(src=userLoggedIn.profilePic, alt="BenutzerProfilbild")
    .textareaContainer
      textarea#postTextarea(placeholder="Was geht ab!")
      .buttonsContainer   
        button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#replyModalLabel.modal-title Antwort
          button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-body
          #originalPostContainer
          .postFormContainer 
            .userImageContainer 
              img(src=userLoggedIn.profilePic, alt="BenutzerProfilbild")
            .textareaContainer
              textarea#replyTextarea(placeholder="Was geht ab!")
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Schliessen
          button#submitReplyButton.btn.btn-primary(type='button', disabled="") Antwort

mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#deletePostModalLabel.modal-title Post löschen?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-body
          p Du kannst das nicht löschen.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Schliessen
          button#deletePostButton.btn.btn-primary(type='button', disabled="") Löschen

mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()